<h1><%= @business.name %></h1>

<h3>Address:</h3> <h4><%= @business.address %></h4>
<h3>Website:</h3> <h4><%= @business.website %></h4>
<h3>Phone Numbers:</h3>
<% @business.phones.each do |phone| %>
  <li><h4><%= phone %></h4></li>
<% end %>
<h3>Hours:</h3> <h4><%= @business.hours %></h4>

<%= link_to 'Delete', category_business_path( @category, @business),
                       :data => {:method => 'delete', :confirm => 'Are you sure you want to delete?'} %> |
<%= link_to 'Edit', edit_category_business_path(@category, @business) %>
